:root {
  font-family: 'Roboto', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #484848;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
